<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/39a81d1a-3b64-4275-ab40-f10356aae4c4/resourceGroups/mycorner-api/providers/Microsoft.Web/sites/MyCorner-WebAPI</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://mycorner-webapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>mycorner-webapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyCorner-WebAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyCorner-WebAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>